# python byte code
*.pyc

# top level CMakeLists should be created with catkin_init_workspace
/CMakeLists.txt

# gedit backup files
*~

# GitEye project file
.gitignore
.project
.gitmodules
.gitattributes

# ros-related files
.rosinstall

# folders that should not be uploaded
/gui
/mav_comm
/mavros
/mocap
/multimaster_fkie
/rotors_simulator
