<launch>

<node name="rotors_planner_node" pkg="quad_control" type="rotors_planner_node.py">
  <!--param name="duration" value="10000.0"/>
  <param name="reference_trajectory_topic" value="/hummingbird_leader/command/trajectory"/>
  <param name="quad_pose_topic" value="/hummingbird_leader/ground_truth/pose"/>
  <rosparam>
    duration: 10000.0
    reference_trajectory_topic: hummingbird_leader/command/trajectory
    quad_pose_topic: hummingbird_leader/ground_truth/pose
  </rosparam-->
</node>

<node name="rotors_follower_planner_node" pkg="quad_control" type="rotors_follower_planner_node.py"/>

</launch>
